
.text-hitam{
    color:rgba(11, 11, 12, 0.952); 
    color:black; 
    font-family: 'Times New Roman', Times, serif;
    padding:30px 20px;
    border: 1px;
    font-size: 12pt;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.full-width {
    grid-column: 1 / 3;   
}
